.pa0 {
    padding: 0 !important;
}
.pa5 {
    padding: 5px !important;
}
.pa10 {
    padding: 10px !important;
}
.pa15 {
    padding: 15px !important;
}
.pa20 {
    padding: 20px !important;
}
.pa25 {
    padding: 25px !important;
}
.pa30 {
    padding: 30px !important;
}
.pa35 {
    padding: 35px !important;
}
.pa40 {
    padding: 40px !important;
}
.pa45 {
    padding: 45px !important;
}
.pa50 {
    padding: 50px !important;
}
/*padding all*/
.ptb10 {
    padding: 10px 0 !important;
}
/*padding left*/
.pl0 {
    padding-left: 0 !important;
}
.pl5 {
    padding-left: 5px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl25 {
    padding-left: 25px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pl35 {
    padding-left: 35px !important;
}
.pl40 {
    padding-left: 40px !important;
}
.pl45 {
    padding-left: 45px !important;
}
.pl50 {
    padding-left: 50px !important;
}
/*padding left*/
/*padding right*/
.pr0 {
    padding-right: 0 !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pr30 {
    padding-right: 30px !important;
}
.pr35 {
    padding-right: 35px !important;
}
.pr40 {
    padding-right: 40px !important;
}
.pr45 {
    padding-right: 45px !important;
}
.pr50 {
    padding-right: 50px !important;
}
/*padding right*/
/*padding top*/
.pt0 {
    padding-top: 0 !important;
}
.pt1 {
    padding-top: 1px !important;
}
.pt2 {
    padding-top: 2px !important;
}
.pt3 {
    padding-top: 3px !important;
}
.pt4 {
    padding-top: 4px !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pt30 {
    padding-top: 30px !important;
}
.pt35 {
    padding-top: 35px !important;
}
.pt40 {
    padding-top: 40px !important;
}
.pt45 {
    padding-top: 45px !important;
}
.pt50 {
    padding-top: 50px !important;
}
/*padding top*/
/*padding bottom*/
.pb0 {
    padding-bottom: 0 !important;
}
.pb1 {
    padding-bottom: 1px !important;
}
.pb2 {
    padding-bottom: 2px !important;
}
.pb3 {
    padding-bottom: 3px !important;
}
.pb4 {
    padding-bottom: 4px !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.pb35 {
    padding-bottom: 35px !important;
}
.pb40 {
    padding-bottom: 40px !important;
}
.pb45 {
    padding-bottom: 45px !important;
}
.pb50 {
    padding-bottom: 50px !important;
}
.pb-5 {
    padding-bottom: -5px !important;
}
.pb-10 {
    padding-bottom: -10px !important;
}
.pb-15 {
    padding-bottom: -15px !important;
}
.pb-20 {
    padding-bottom: -20px !important;
}
.pb-25 {
    padding-bottom: -25px !important;
}
.pb-30 {
    padding-bottom: -30px !important;
}
.pb-35 {
    padding-bottom: -35px !important;
}
.pb-40 {
    padding-bottom: -40px !important;
}
.pb-45 {
    padding-bottom: -45px !important;
}
.pb-50 {
    padding-bottom: -50px !important;
}
/*padding bottom*/
/*padding right*/
.plr0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.plr5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.plr10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.plr15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.plr20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.plr25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.plr30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.plr35 {
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.plr40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.plr45 {
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.plr50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
/*padding right*/
/*padding end*/
/*margin start*/
/*margin all*/
.ma0 {
    margin: 0 !important;
}
.ma5 {
    margin: 5px !important;
}
.ma10 {
    margin: 10px !important;
}
.ma15 {
    margin: 15px !important;
}
.ma20 {
    margin: 20px !important;
}
.ma25 {
    margin: 25px !important;
}
.ma30 {
    margin: 30px !important;
}
.ma35 {
    margin: 35px !important;
}
.ma40 {
    margin: 40px !important;
}
.ma45 {
    margin: 45px !important;
}
.ma50 {
    margin: 50px !important;
}
/*margin all*/
/*margin left*/
.ml0 {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
.ml30 {
    margin-left: 30px !important;
}
.ml35 {
    margin-left: 35px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.ml45 {
    margin-left: 45px !important;
}
.ml50 {
    margin-left: 50px !important;
}
/*margin left*/
/*margin right*/
.mr0 {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mr35 {
    margin-right: 35px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.mr45 {
    margin-right: 45px !important;
}
.mr50 {
    margin-right: 50px !important;
}
/*margin right*/
/*margin top*/
.mt0 {
    margin-top: 0 !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt7 {
    margin-top: 7px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt38 {
    margin-top: 38px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt35 {
    margin-top: 35px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mt45 {
    margin-top: 45px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt-5 {
    margin-top: -5px !important;
}
.mt-7 {
    margin-top: -7px !important;
}
.mt-10 {
    margin-top: -10px !important;
}
.mt-15 {
    margin-top: -15px !important;
}
.mt-20 {
    margin-top: -20px !important;
}
.mt-23 {
    margin-top: -23px !important;
}
.mt-25 {
    margin-top: -25px !important;
}
.mt-30 {
    margin-top: -30px !important;
}
.mt-35 {
    margin-top: -35px !important;
}
.mt-40 {
    margin-top: -40px !important;
}
.mt-45 {
    margin-top: -45px !important;
}
.mt-50 {
    margin-top: -50px !important;
}
/*margin top*/
/*margin bottom*/
.mb0 {
    margin-bottom: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb35 {
    margin-bottom: 35px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mb45 {
    margin-bottom: 45px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mb-5 {
    margin-bottom: -5px !important;
}
.mb-10 {
    margin-bottom: -10px !important;
}
.mb-15 {
    margin-bottom: -15px !important;
}
.mb-20 {
    margin-bottom: -20px !important;
}
.mb-25 {
    margin-bottom: -25px !important;
}
.mb-30 {
    margin-bottom: -30px !important;
}
.mb-35 {
    margin-bottom: -35px !important;
}
.mb-40 {
    margin-bottom: -40px !important;
}
.mb-45 {
    margin-bottom: -45px !important;
}
.mb-50 {
    margin-bottom: -50px !important;
}
.vid_thums li a.active,
.vid_thums li a:hover,
.verify_ic i,
.cmt-pr li span:hover a,
.cmt-pr li span:hover i,
.rt-cmt:hover,
.coments>a:hover,
.suggestions p a .mm_menu li:hover a,
.mm_menu li:hover i,
.m_linkz .mm_menu li a:hover,
.social_links li a:hover,
.abt-rw.tgs ul li a,
.more-ch:hover,
.lnks li a:hover,
.search_form form button:hover {
    color: #4878f2;
}
.vid_thums li a svg:hover rect,
.more_items_sec svg:hover path {
    fill: #4878f2;
}
.mm_menu .switch input:checked+.slider {
    background-color: #4878f2;
}
.add-video-btn {
    background-color: transparent;
    border: 1px solid #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 24px;
}
.add-video-btn:hover {
    border: 1px solid #272626;
}
.controls-lv svg {
    fill: #fff;
    width: 16px;
    vertical-align: text-top;
}
.controls-lv .add-video-btn svg:hover path,
.controls-lv .add-video-btn:hover svg {
    fill: #006dcc !important;
    opacity: 1;
}
.gc-owl-carousel{
    padding-left:37px;
}
.gc-owl-carousel .owl-prev {
    left: 0;
    position: absolute;
    top: 0;
    background: rgb(255, 255, 255);
    padding: 8px 12px;
}
.gc-owl-carousel .gc-nav button i {
    font-size: 30px;
    color: #006dcc;
}
.gc-owl-carousel .owl-next {
    right: 0px;
    position: absolute;
    top: 0;
    background: rgb(255, 255, 255);
    padding: 8px 12px;
}

.gc-owl-carousel .owl-stage {
    width: 6000px !important;
    padding-left: 10px;
}
.gc-owl-carousel .item a {
    padding: 0 20px;
}
.gc-owl-carousel .item a .fa {
    padding-right: 5px;
}
.gc-owl-carousel .item a:hover {
    color: #fff;
}
.gc-nav button {
    background: transparent;
    border: none;
    display: block;
}
.gc-nav button.disabled {
    opacity: 0.2 !important;
}
.gc-owl-carousel .owl-item {
    opacity: 0;
    transition: opacity 500ms;
}
.gc-owl-carousel .owl-item.active {
    opacity: 1;
}
.hp_1 .btm_bar {
    padding: 10px 0px 10px 0;
    background: #fff;
}
.w-80{
    width: calc(100% - 100px);
}
.color-1 {
    background-color: #ff5e3a;
}
.color-1:hover {
    box-shadow: 0 6px 15px rgba(255, 94, 58, 0.5);
}
.color-2 {
    background-color: #66c0c2;
}
.color-2:hover {
    box-shadow: 0 6px 15px rgba(102, 192, 194, 0.5);
}
.color-3 {
    background-color: #fab318;
}
.color-3:hover {
    box-shadow: 0 6px 15px rgba(250, 179, 24, 0.5);
}
.color-4 {
    background-color: #8460AA;
}
.color-4:hover {
    box-shadow: 0 6px 15px rgba(132, 96, 170, 0.5);
}
.fa-color-1 svg {
    fill: #ff5e3a !important;
    width: 24px;
    vertical-align: sub;
}
.fa-color-2 svg {
    fill: #66c0c2 !important;
    width: 24px;
    vertical-align: sub;
}
.fa-color-3 svg {
    fill: #fab318 !important;
    width: 24px;
    vertical-align: sub;
}
.fa-color-4 svg {
    fill: #8460AA !important;
    width: 24px;
    vertical-align: sub;
}
.innr-color-1 {
    background-color: #ff5e3a !important;
}
.innr-color-2 {
    background-color: #66c0c2 !important;
}
.innr-color-3 {
    background-color: #fab318 !important;
}
.innr-color-4 {
    background-color: #8460AA !important;
}
.vidz-row .container {
    max-width: 100%;
}
.main-grid>.container {
    max-width: 100%;
}
.inner-title h3 {
    font-size: 18px;
    color: #1c1b1b;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.c-menu {
    font-size: 26px !important;
    color: #006dcc !important;
}
.close-menu a {
    font-size: 26px !important;
    color: #006dcc !important;
    padding-left: 13px !important;
    padding-bottom: 15px;
}
.close-menu img {
    margin-bottom: 0;
}
.bg-shadow{
background: #fff;
    padding: 12px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
}
    .left-sect {
    width: calc(100% - 336px);
    
}
.side-sw {
    width: 100px;
}
.side-sw .inner-title h3,
.side-sw .inner-title .c-menu {
    display: none;
}
.side-sw .mm_menu li {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e2ebef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.side-sw .mm_menu li a span {
    display: none;
}
.side-sw .mm_menu li a {
    display: block;
}
.side-sw .mm_menu li span {
    float: none;
    display: inline-block;
    cursor: pointer;
}
.side-sw .mm_menu {
    border-bottom: 0;
}
.left-sw {
    width: calc(100% - 100px);
}
.controls-lv li a:hover {
    color: #fff;
    opacity: 0.8;
}
.controls-lv svg:hover path,
.controls-lv li a:hover svg {
    fill: #fff !important;
    opacity: 0.8;
}
.controls-lv li a.btn-default:hover {
    background-color: #fff;
    color: #006dcc;
    opacity: 1;
    border-color: #006dcc;
}
.side-sw .sd_menu {
    margin-top: 0 !important;
    border-bottom: 0 !important;
}
.search-form-wrapper {
    /* opacity: 0; */
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 15px;
    margin-top: 50px;
    background: #fff;
    top: 25px;
    z-index: 9;
    box-shadow: 0 0 8px #ccc;
    transition: 0.5s;
}
.search-form-wrapper.open {
    /*  opacity: 1; */
    display: block;
}
.search-form-wrapper {
    cursor: pointer;
}
.video_info-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.watch_later svg {
    fill: #fff;
    width: 17px;
}
.watch_later svg:hover path,
.watch_later:hover svg {
    fill: #fff !important;
}
.gc-mobile-menu {
  /*   padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .25rem;
    display: inline-block;
    margin-top: 4px; */
}
.gc-mobile-menu svg {
    fill: #fff;
   width:20px;
    vertical-align: middle;
}
.side_menu-innr.active {
    display:block;
}
.search-form-tigger .fa {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}
/* Header after login */
.header-after-login .top_bar {
    border-bottom: 1px solid #e2ebef;
    background-color: #fff;
    padding: 10px 0;
}
.header-after-login .top_bar .search_form form input {
    background-color: #e2ebef;
    color: #6e6f70;
}
.header-after-login .top_bar .menu_logo {
    margin-top: 13px;
}
.header-after-login .top_bar .search_form {
    margin-top: 11px;
}
.top_bar .controls-lv .user-log .user-ac-img .fa {
    font-size: 30px;
    vertical-align: top;
    margin-top: 4px;
    color: #fff;
}
.header-after-login .top_bar .controls-lv .user-log {
    padding-right: 12px;
}
.header-after-login .top_bar .controls-lv li {
    margin-right: 0;
}
 .top_bar .upload-vid-btn a{
    background: #fff;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    text-align: center;
    padding-top: 8px;
}
.top_bar .upload-vid-btn a svg
{
    fill: #006dcc;
    width: 20px;
    vertical-align: baseline;
}
.top_bar .upload-vid-btn a svg:hover{
    opacity: 1;
    fill:#fff;
}
.top_bar .upload-vid-btn a:hover{background: #006dcc;opacity: 1;}
.header-after-login {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, .37);
}
.header-after-login .gc-owl-carousel .owl-prev {
    left: -33px;
}
.header-after-login .item a .fa {
    color: #fff;
    background-color: #ff5e3a;
    margin-right: 5px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 17px;
}
.header-after-login .item a:hover {
    color: #006dcc;
}
.header-after-login .item a {
    padding: 0px 5px;
}
.main-grid-innr {
    
    padding-top: 15px;
}
.main-grid-innr>.container,
.main-grid-innr >.container {
    max-width: 100%;
}
.main-grid-innr .btm_bar {
    padding: 0;
}
.main-grid-innr .left-sect .mn-vid-sc {
    background: #fff;
    padding: 12px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 0 0 10px 10px;
}
.side_menu-innr {
    position: absolute;
    right: 0;
    width: 336px;
    background: #fff;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
    height: auto;
    z-index: 99;
    border-right: 0;
    transition: 0.5s;
    overflow-y: auto;
    display: none;
}
.side_menu-innr .mm_menu{
    padding-left:15px;
}
.menu-heading {
    border-bottom: 1px solid #e2ebef;
    color: #006dcc !important;
    padding: 15px;
    font-size: 18px !important;
    margin-bottom: 15px !important;
}
.sidebar-single-page {
    position: static;
    right: 0;
    width: 336px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
    height: 100%;
    z-index: 9;
    border-right: 0;
    transition: 0.5s;
    overflow-y: auto;
    display: block !important;
}
.single-page .left-sect {
    margin-right: 15px;
}
.menu-btn {
    color: #fff !important;
    font-size: 16px !important;
    padding: 10px 15px;
    height: auto;
    line-height: normal;
    border-radius: 10px;
    background: #006dcc;
    font-weight: 300 !important;
    width: 100% !important;
    text-align: center;
}
.menu-btn svg {
    fill: #fff;
    width: 24px;
    vertical-align: text-bottom;
}
.menu-btn-open {
    padding: 0 !important;
    background: transparent;
    text-align: center;
}
.menu-btn-open svg {
    fill: #1c1b1b;
}
.mm_menu li a.menu-btn span {
    display: inline-block;
    width: auto;
    float: none;
}
.menu-btn-open span {
    display: none !important;
}
.mm_menu li {
    width: 100%;
}
.mm_menu li a.menu-btn {
    display: block;
}
.account-menu .sd_menu{
    border-bottom: 0;
    padding: 20px;
}
.page-menu .search-form-tigger{
    display:none;
}
.other-grid{
    background: #fff;
    padding: 12px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
}
.other-grid .nav-tabs .nav-link {
    border-bottom: 4px solid transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 4px solid #006dcc;
}
.info-pr{
    display:flex;
    margin-top:4px;
}
.info-pr>span {
    margin-right:5px;
}
.single_video .abt-mk {
    width: 100%;
    padding: 6px 0 0 0;
    border-bottom: 0;
}
.single_video .abt-mk .info-pr-sec {
    padding-top: 0;
    margin-bottom: 0;
}
.single_video .vc_info.pr {
    padding-left: 10px;
}
.single_video .follow-btn{
    background: #006dcc;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 4px 10px;
}
.single_video .follow-btn:hover{opacity: 0.8;}
.single_video .sub-info li{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    line-height: 12px;
}
.single_video .sub-info li:last-child{border:none;}
/*---- Video pLayer css ----*/
.vid-left-grid{
    width: calc(100% - 350px);
    margin-right: 14px;
}
.vid-left-grid .bg-shadow{
    padding:0;
    border-radius: 0;
}
.single_video .bg-shadow{
    padding:12px;
    border-radius: 0 0 10px 10px;
}
.vid-right-grid{
    width: 336px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
    transition: 0.5s;
    background: #fff;
}
/*---- Video pLayer css ----*/
.mb-menu {}
/*---Media Query---*/
@media(min-width:2000px){
    .big-container{
        max-width:2000px !important;
    }
}
@media(max-width:1400px){
    .videos_lizt {
        height: 620px;
    }
}
@media(max-width:1300px){
    .single_video .vid-info h3{
        width:50%;
    }
}
@media(max-width:1200px){
    .videos_lizt {
        height: 545px;
    }
}
@media(max-width:1050px){
    .videos_lizt {
        height: 445px;
    }
}
@media(max-width:1024px) {
    .controls-lv li a {
        font-size: 16px;
    }
}
@media(max-width:992px) {
    .vidz_img {
        width: 300px;
    }
    .vid-left-grid {
        width: 100%;
        margin-right: 0;
    }
    .vid-right-grid {
        width: 100%;
        margin-top: 15px;
    }
    .side_menu{
        position: absolute;
    }
    .w-80{
        width:100%;
    }
    .single-page .left-sect {
        width: 100%;

    }
    .sidebar-single-page{
        width:100%;
        margin-top:20px;
    }
    .single-page .vid-pr {
        height: 600px;}
    .page-menu .search-form-tigger{
        display: inline-block;
        vertical-align: middle;
    }
    .c-menu {
        display: none;
    }
    .side_menu {
        opacity: 0;
        visibility: hidden;
        height:auto;
    }
    .left-sect {
        width: 100%;
    }
    .menu-btn span{
        vertical-align: baseline !important;
    }
    .controls-lv li a.add-video-btn {
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
        height: auto;
        line-height: normal;
        border-radius: 10px;
    }
    .controls-lv li a .material-icons {
        font-size: 20px;
    }
    .controls-lv li a {
        font-size: 12px;
    }
    .controls-lv {
        float: none;
    }
    .top_header_content {
        display: flex;
    }
    .vidz_row{
        width:100%;
    }
    
   .df-list{
    float: right;
   }
   .single_video .sub-info li {
    border-right: 0;
}
 
}
@media(max-width:768px){
    .single-page .vid-pr {
        height: 450px;
    }
    
}
@media(max-width:640px){
    .vid-info{
        flex-flow: column;
    }
    .single_video .vid-info h3 {
        width: 100%;
    }
    .vidz_img {
        width: 200px;
    }
}
@media(max-width:576px) {
   
    .search-form-tigger .fa {
        font-size: 17px;
    }
    .user-ac-img img {
        height: 36px;
        width: 36px;
    }
    .top_bar .upload-vid-btn a {
        height: 36px;
        width: 36px;
    }
    .top_bar .upload-vid-btn a svg {
        vertical-align: baseline;
        width:20px;
    }
    .top_bar .controls-lv .user-log .user-ac-img .fa{
        margin-top:8px;
        font-size: 20px;
    }
    .user-log{
        padding-right:4px;
    }
}
@media(max-width:480px){
    .single_video .vid-info h3 {
        font-size: 15px;
    }
    .mn-vid-sc.single_video .info-pr>span {
        font-size: 12px;
    }
    .pr_links li span {
        font-size: 12px;
    }
    .info-pr-sec .vc_info h4, .sub-info li span {
        font-size: 14px;
    }
    .vidz_img {
        width: 150px;
    }
    .single-page .vid-pr {
        height: 350px;
    }
    .side_menu, .side_menu-innr{
        width:290px;
    }
    .account-menu {
        right: -50px;
        width: 200px;}
        .info-pr-sec .vc_info h4 {
            font-size: 16px;
        }
        .single_video .follow-btn {
            font-size: 14px;
            padding: 3px 6px;
        }
        
}